<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nanum_market</title>
    <script src="https://kit.fontawesome.com/c80b03cd64.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {% if post[8] == False %}
    <div>
    {% else %}
    <div>
    {% endif %}
      <div>
        <div>작성자</div>
        <div>{{ post[1] }}</div>
      </div>
      <div>
        <div>제목</div>
        <div>{{ post[2] }}</div>
      </div>
      <div>
        <div>{{ post[3] }}</div>
      </div>
      <div>
        <div>위치</div>
        <div>{{ post[4] }}</div>
      </div>
      <div>
      <div>
        <img src="/static/{{ post[5] }}" alt="" width = "100">
      </div>
      </div>
      <div>
        <div>작성일자</div>
        <div>{{ post[6].strftime("%Y년 %m월 %d일 %H시 %M분") }}</div>
      </div>
      <div id="like-{{ post[0] }}">
        {% if is_liked %}
        <i class="fas fa-thumbs-up" type="submit" onclick="onClickLike('{{ post[0] }}')"></i>
        {% else %}
        <i class="far fa-thumbs-up" type="submit" onclick="onClickLike('{{ post[0] }}')"></i>
        {% endif %}
        <span id="like__count">{{ like_count }}</span>
      </div>
      <div>
        <a href="update/{{ post[0] }}">수정하기</a>
        <form action="/post/delete/{{ post[0] }}" method="POST">
          <input onclick="alert('정말 삭제하시겠습니까?')" type="submit" value="delete">
        </form>
      </div>

      <div class="post__comment">
        <div>
            <textarea id="comment__value" type="text" placeholder="나눔 제공자와 소통하세요!"></textarea>
            <input onclick="onClickCreateComment('{{ post[0] }}')" type="submit" value="댓글 작성">
        </div>
        <div id="comments">
          {% for comment in comments %}
          <div class="comment-{{ comment[0] }}">
              <span class="comment__writer">{{ comment[1] }}</span>
              <span class="comment__date">{{ comment[4].strftime("%m월 %d일") }}</span>
              <span class="comment__content">{{ comment[3] }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/postLike.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/postComment.js') }}"></script>
  </body>
</html>
