<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nanum_market</title>
  </head>
  <body>
    <form action="/login" method="POST">
        <label for="id">id</label>
        <input id="id" type="text" name="id" value="">

        <label for="password">password</label>
        <input id="password" type="text" name="password" value="">

        <input type="submit" name="send" value="login">
  </body>
</html>
